aside div img {
  max-width: -moz-available, -webkit-fill-available;
  width: auto;
  border-radius: 0px;
}
body {
  font-family: Ubuntu,Roboto,Open Sans,Liberation Sans,DejaVu Sans,Verdana,Helvetica,Arial,sans-serif;
}
